extends layout/main

block content
  h2 What Data Do You Need?

  .col-sm-3
    .list-group
      a.list-group-item(href="#") U.S. States
      a.list-group-item(href="#") World Countries
      a.list-group-item(href="#") World Currencies

  .col-sm-9
    .panel.panel-default
      .panel-body
        p Heyooo!

block append js
  script.
    // no script here!
