/**
 * Main CSS file for DevData
 *
 * @author Vance Lucas <vance@vancelucas.com>
 */

.content {
  margin-top: 80px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

#foot {
  margin-bottom: 1em;
}

textarea.code {
  width: 100%;
  height: 30em;
}

.dataset-lang label {
  font-weight: bold;
}
.dataset-lang label.active {
  border-bottom: 2px solid #333;
}
.dataset-lang label.php {
  background-color: #c0c7e5;
}
.dataset-lang label.php.active {
  color: #eee;
  background-color: #8892BF;
}
.dataset-lang label.javascript {
  background-color: #fcf5bf;
}
.dataset-lang label.javascript.active {
  background-color: #F7DF1E;
}
.dataset-lang label.python {
  background-color: #9dbfdb;
}
.dataset-lang label.python.active {
  color: #eee;
  background-color: #3774A7;
}
.dataset-lang label.ruby {
  background-color: #ffbaba;
}
.dataset-lang label.ruby.active {
  color: #eee;
  background-color: #BA1301;
}
.dataset-lang label.lua {
  background-color: #a6bbe0;
}
.dataset-lang label.lua.active {
  color: #eee;
  background-color: #000080;
}


.dataset-result {
  position: relative;
}
div.loadingIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background: #333;
  color: #fff;
  padding: 7px 10px;
  font-size: 1.2em;
}
.selectCode {
  position: absolute;
  top: 10px;
  right: 10px;
}
