/**
 * Main CSS file for DevData
 *
 * @author Vance Lucas <vance@vancelucas.com>
 */

.content {
  margin-top: 80px;
}

textarea.code {
  width: 100%;
  height: 30em;
}

.dataset-lang label {
  font-weight: bold;
  text-transform: capitalize;
}
.dataset-lang .php {
  text-transform: uppercase;
  color: #eee;
  background-color: #8892BF;
}
.dataset-lang .json {
  text-transform: uppercase;
  background-color: #F7DF1E;
}
.dataset-lang .python {
  color: #eee;
  background-color: #3774A7;
}
.dataset-lang .ruby {
  color: #eee;
  background-color: #BA1301;
}
